body {
  background: url(../img/pattern.jpg);
  overflow: hidden;
}

.hair {
  .center {
    background: url(../img/hair_center.png);
    position: fixed;
    top: -2em;
    left: 50%;
    height: 150px;
    width: 480px;
  }
}

canvas {
  height: 100%;
  width: 100%;
}

.container {
  width: 800px;
  height: 800px;
  margin: 4% auto;
  position: relative;

}

.maggie {
  width: 100%;
  height: 100%;
  background: url(../img/maggie_kop_02.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
  position: relative;
}

.eyes {
  z-index: 10;
  position: absolute;
  .pupil {
    width: 50px;
    height: 50px;

    margin-top: -22px;
    margin-left: -22px;
    position: absolute;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }

  &#lefteye {
    top: 150px;
    left: 176px;

  }
  &#righteye {
    top: 105px;
    left: 476px;

  }
  #left, #right {
    width: 120px;
    height: 60px;
    background: #fff;
  }
}