body {
  background: url(../img/pattern.jpg);
  overflow: hidden;
}

.hair {
  .center {
    background: url(../img/hair_center.png);
    position: fixed;
    top: -2em;
    left: 50%;
    height: 150px;
    width: 480px;
  }
}

canvas {
  height: 100%;
  width: 100%;
}

.container {
  width: 800px;
  height: 800px;
  margin: 4% auto;
}

.maggie {
  width: 100%;
  height: 100%;
  background: url(../img/maggie_kop_02.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
  position: relative;
}

.eyes {
  z-index: 10;
  position: absolute;
  .pupil {
    width: 44px;
    left: 39px;
    top: 10px;
    position: absolute;
  }

  &#lefteye {
    top: 20%;
    left: 28%;
  }
  &#righteye {
    top: 15%;
    left: 57%;
  }

  #left, #right {
    width: 120px;
    height: 60px;
    background: #fff;
  }
}